.cache/
.conda/
.kube/
.docker/
.config/gh
.config/wslu
.config/configstore
.config/gcloud
.config/scoop
.viminfo
.wget-hsts
snap/
.ssh/
.jupyter/
.ipython/
.local/
.boto
.npm/
.pylint.d/
.cookiecutter_replay/
projects/
.aws
.azure
.osh-*
.motd_shown
.sudo_as_admin_successful
.vscode/extensions
.vscode-server/*
/[A-Z0-9]*/**
!AppData/Local/Microsoft/Windows/Fonts
ntuser*
.*_history
.git-credentials
.netrc
.lesshst
.sdirs
Downloads
.rustup/
.systemd-env/
.wget-hsts/
.cargo/
.cookiecutters/
.dotnet/
.oh-my-bash/
third/
.pyenv/
.pythonhist
checkpoint_cache
checkpoint_signature
__pycache__/
.config/vscode-dev-containers