.cache/
.conda/
.kube/
.docker/
.config/gh
.config/wslu
.config/configstore
.ssh/
.jupyter/
.ipython/
.local/
.npm/
.pylint.d/

projects/
.aws
.azure
.osh-*
.motd_shown
.sudo_as_admin_successful
.vscode/extensions
.vscode-server/*
/[A-Z0-9]*/**
!AppData/Local/Microsoft/Windows/Fonts
ntuser*
.*_history
.git-credentials
.netrc
.lesshst
.sdirs
