[user]
	name = Rob Thatcher

[core]
	editor = code --wait

[pull]
	rebase = true

[fetch]
	prune = true

[push]
	default = simple

[credential "https://github.com"]
    helper = !gh auth git-credential

# TODO how to configure a default upstream on first push?
#      have workon make it and push it?
[branch]
	autoSetupMerge = true
	autoSetupRebase = always

[core]
	editor = code --wait
	pager = delta

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3
	defaultToUpstream = true

[diff]
	colorMoved = default

[delta]
	side-by-side = true


# TODO work workin - need to configure the branch to have .rebase = origin/master, . .branch = $1
#      can this be a default?
#      How does command line git manage this, but not vscode?
[alias]
	rbom = "!git fetch origin master && git rebase origin/master --strategy-option theirs"
	rbc = "rebase --continue"
	mr = "!git fetch origin master && git checkout -B master origin/master"
	wn = "diff --name-only origin/master"
	bv = "!git fetch --prune; git branch --verbose --no-abbrev"
	bd = "branch --delete --force"
	wo = "!git fetch origin master && ((git branch $1 origin/master && git branch $1 --set-upstream-to origin/$1) || (git checkout $1 && git rebase origin/master --strategy-option theirs)) && echo Now working on "
	br = "branch -m"
	bc = "branch -c"
	dom = "!git fetch origin master; git diff origin/master"
	dunk = "!git diff origin/master | dunk"
	rhh = "reset --hard HEAD"
	rn = "branch -m"
	c = "!git commit -m '$1'; echo"
	ca = "commit --all"
	caf = "commit --all --no-verify -m"
	fu = "commit --fixup"

	# TODO write a better script to query any open PR first?
	adopr = "!az repos pr create --open"