[user]
	name = Rob Thatcher
	email = thatcr@gmail.com
[core]
	editor = code --wait

[credential]
	helper = store

[push]
	default = matching

[alias]
	pv = pull --verbose
	psv = push --verbose 

[credential "https://github.com"]
    helper = !gh auth git-credential