.cache/
.conda/
.kube/
.docker/
.viminfo
.wget-hsts
.ssh/
.jupyter/
.ipython/
.local/
.boto
.npm/
.pylint.d/
.cookiecutter_replay/
.aws
.azure-devops/
.osh-*
.motd_shown
.k5login
.sudo_as_admin_successful
.vscode-server/
.ipynb_checkpoints/

.*/
!.config/
!.config/**/

!.github/**

!.vscode/

# windows folders
[A-Z]*/

.R*
.*_history
.git-credentials
.netrc
.lesshst
_lesshst
.sdirs
.pyistqa*
.rustup/
.systemd-env/
.wget-hsts/
.cargo/
.cookiecutters/
.dotnet/
.oh-my-bash/
third/
.pyenv/
.pythonhist
checkpoint_cache
checkpoint_signature
__pycache__/
.config/vscode-dev-containers
/workspace
*.lic
*.sig
scratch/
miniforge3/
scoop/
.vscode-server/
.cfg/

# Windows Stuff
NTUSER*
ntuser*
OneDrive*/
BP/
3D Objects/
AppData/
Application Data/
Contacts/
Cookies/
Documents/
scoop/
