[user]
	name = Rob Thatcher

[core]
	editor = code --wait

[credential]
	helper = store

[push]
	default = current

[credential "https://github.com"]
    helper = !gh auth git-credential

[push]
	default = current

[core]
	editor = code --wait

[diff]
	tool = vscode

[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code --wait $MERGED

[alias]
	co = checkout
	ci = commit
	rbom = "!git fetch origin master; git rebase origin/master --strategy-option theirs"
	rbc = "rebase --continue"
	nb = "!git checkout -b"
	mr = "!git fetch origin master; git checkout -B master origin/master"
	wn = diff --name-only origin/master
	bo = "checkout origin/master"
	bv = "branch --verbose"
	bd = "branch --delete --force"